# Ignore any folder named .ipynb_checkpoints
**/.ipynb_checkpoints/

# Ignore any folder named data
**/data/

# Ignore any folder named envs
**/envs/

# Ignore Python files with "secret" in the name
*secret*.py

# Ignore build folders
**/build/

# Ignore ccbhc_measurements.egg-info folder
**/ccbhc_measurements.egg-info/
